@model DotNet.UI.ViewModels.SkillViewModels.PagedSkillViewModel
@{
    ViewData["Title"] = "Index";
}

<h1>Skills List</h1>

<p>
    <a asp-action="Create" class="btn btn-info">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Title
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Skills)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
@{
    var Previous = Model.PageInfo.HasPrevious ? "" : "disabled";
    var Next = Model.PageInfo.HasNext ? "" : "disabled";
}
<a class="btn btn-info @Previous" asp-route-pageNumber="@(Model.PageInfo.PageNumber-1)">Pre</a>
<a class="btn btn-info @Next" asp-route-pageNumber="@(Model.PageInfo.PageNumber+1)">Next</a>
