@model IEnumerable<CleanStudentManagment.Models.ResultViewModel>

@{
    ViewData["Title"] = "Result";
}

<h1>Result</h1>

<table class="table">
    <thead>
        <tr>
            <th hidden>
                @Html.DisplayNameFor(model => model.StudentId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExamName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalQuestions)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CorrectAnser)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WrongAnswer)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td hidden>
                @Html.DisplayFor(modelItem => item.StudentId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExamName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalQuestions)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CorrectAnser)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WrongAnswer)
            </td>
            @* <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td> *@
        </tr>
}
    </tbody>
</table>
